.testimonial-item {
    border: 1px solid var(--container-color);
    padding: 1.25rem 0 0 1.25rem;
}

.testimonial-bg {
    background-color: var(--container-color);
    padding: 0 1.25rem 1.25rem 1.25rem;
}

.testimonial-data {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.testimonial-img {
    width: 80px;
    height: 80px;
    border: 10px solid  var(--white-color);
}

.testimonial-name {
    font-size: var(--larger-font-size);
}

.testimonial-profile {
    color: var(--secondary-color);
    font-size: .9rem;
}

.testimonial-description {
    color: var(--title-color);
    font-size: .8rem;
    font-style: italic;
    margin-block: .75rem 1rem;
}

.testimonial-quote {
    width: 150px;
    position: absolute;
    bottom: 0;
    right: 2rem;
    opacity: .25;
    z-index: -10;
}

.swiper.container {
    padding-inline: 1.25rem;
}

.swiper-pagination {
    position: initial;
    margin-top: 2rem;
}

.swiper-pagination-bullet {
    width: 7px;
    height: 7px;
    background-color: var(--primary-color);
    opacity: 1;
    margin-inline: .75rem;
}

.swiper-pagination-bullet-active {
    width: 10px;
    border-radius: 1rem;
    background-color: var(--secondary-color);
}