.reservation-container {
    max-width: 1160px;
    margin-top: -4rem;
    position: relative;
    z-index: 100;
}

.reservation-form {
    background-color: var(--body-color);
    border-bottom: 2px solid var(--primary-color);
    padding: 1.25rem;
    border-radius: 3rem 3rem 3rem 0;
    box-shadow: 0 8px 32px hsla(var(--hue), 90%, 8%, .1);
}

.reservation-group {
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
}

.reservation-group:last-child {
    grid-template-columns: repeat(3, 1fr) max-content;
}

.reservation-bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr) max-content;
    gap: 1rem;
    align-items: center;
  }

.reservation-title {
    font-size: var(--larger-font-size);
    margin-bottom: .5rem;
    pointer-events: none;
    font-weight: 600;
}

.reservation-div {
    border: 1px solid var(--border-color);
    border-radius: 2rem;
    position: relative;
}

.reservation-input {
    width: 100%;
    padding: .75rem 1.25rem .75rem 3rem;
    font-size: .8rem;
}

.reservation-icon {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    color: var(--primary-color);
    font-size: 1rem;
}