.header {
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.nav,
.nav-button {
    display: flex;
    align-items: center;
}

.nav {
    justify-content: space-between;
    column-gap: 4.75rem;
    height: 5rem;
}

.nav-logo {
    cursor: pointer;
}

.nav-logo-img {
    width: 150px;
    filter: brightness(0) saturate(100%) invert(44%) sepia(93%) saturate(2853%) hue-rotate(-7deg) brightness(104%) contrast(102%);
}

.nav-menu {
    flex-grow: 1;
}

.nav-list {
    display: flex;
    column-gap: 2rem;
}

.nav-link,
.nav-toggler {
    color: var(--white-color);
}

.nav-link {
    font-size: 1.06rem;
    text-transform: capitalize;
    position: relative;
    transition: color .5s;
    cursor: pointer;
}

.nav-link::before {
    content: "";
    position: absolute;
    left: 0;
    top: -0.5rem;
    width: 0;
    height: 3px;
    background-color: var(--primary-color);
    border-radius: 1rem;
    transition: .5s;
}

/* Active link */
.nav-link:hover {
    color: var(--primary-color);
}

.nav-link:hover::before {
    width: 15px;
}

.nav-button {
    column-gap: 2rem;
}

.nav-toggler {
    font-size: 1.75rem;
    display: none;
}

/* Scroll Header */ 
.scroll-header {
    background-color: var(--body-color);
    box-shadow: 0 8px 16px hsla(var(--hue), 90%, 8%, .1);
}

.scroll-header :is(.nav-link, .nav-toggler) {
    color: var(--title-color);
}