.gallery {
    padding-bottom: 0;
}

.gallery-container {
    column-count: 3;
    column-gap: 1.5rem;
}

.gallery-item {
    border-radius: 3rem 3rem 3rem 0;
    overflow: hidden;
    margin-bottom: 1.5rem;
    position: relative;
}

.gallery-item::before {
    content: "";
    position: absolute;
    inset: .5rem;
    background-color: var(--primary-color);
    border-radius: inherit;
}

.gallery-item::before,
.gallery-link {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s, visibility .5s;
}

.gallery-item:hover::before {
    opacity: .5;
    visibility: visible;
}

.gallery-link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: var(--white-color);
    font-size: 3rem;
    transition: transform .5s;
}

.gallery-item:hover .gallery-link {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
}