/* Google Fonts (Fleur De Leah & Righteous) */
@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&family=Poppins&display=swap');

/* Variables */
:root {
    /* Colors */
    --hue: 271;
    --primary-color: hsl(35, 100%, 50%);
    --secondary-color: hsl(355, 90%, 60%);
    --title-color: hsl(var(--hue), 4%, 26%);
    --text-color: hsl(var(--hue), 4%, 38%);
    --body-color: hsl(var(--hue), 4%, 99%);
    --container-color: hsla(35, 100%, 50%, .2);
    --border-color: hsl(var(--hue), 4%, 91%);
    --white-color: hsl(var(--hue), 4%, 100%);

    /* Font family */
    --primary-font: "Poppins", sans-serif;
    --secondary-font: "Fleur De Leah", cursive;

    /* Font sizes */
    --big-font-size: 4rem;
    --h1-font-size: 3.75rem;
    --h2-font-size: 3rem;
    --h3-font-size: 1.5rem;
    --larger-font-size: 1.25rem;
    --large-font-size: 1.125rem;
    --normal-font-size: 1rem;

    /* Font weight */
    --weight-400: 400;
}

/* Base CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input,
textarea,
button,
body {
    font-family: var(--primary-font);
    font-size: var(--normal-font-size);
    font-weight: var(--weight-400);
}

body {
    background-color: var(--body-color);
    color: var(--text-color);
}

h1,
h2,
h3 {
    color: var(--title-color);
    font-weight: var(--weight-400);
    line-height: 1.2;
}

p {
    line-height: 1.7;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button,
input,
textarea,
select {
    background-color: transparent;
    border: none;
    outline: none;
}

img {
    display: block;
    max-width: 100%;
}

/* Layouts */
.container {
    max-width: 1230px;
    margin-inline: auto;
    padding-inline: 1.25rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

/* Reusable CSS Classes */
.button {
    display: inline-flex;
    align-items: center;
    column-gap: .6rem;
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 1rem 1.25rem;
    border-radius: 2rem 2rem 0 2rem;
    position: relative;
    overflow: hidden;
    z-index: 10;
}

.button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 180px;
    height: 180px;
    background-color: var(--secondary-color);
    border-radius: 50%;
    z-index: -10;
    transition: transform .5s;
}

.button:hover::before {
    transform: translate(-50%, -50%) scale(1);
}

.button-icon {
    transform: rotate(45deg);
    transition: transform .5s;
}

.button:hover .button-icon{
    transform: rotate(0);
}

.section {
    padding-block: 6rem;
}
